@media only screen and (max-width: 768px) {
    .box{
        padding-bottom: 25px;
    }
    .work_type h3{
        display: none;
    }
    .team_membar img{
        width: 100%;
        padding-top: 50px;
    }
    .team_membar p{
        padding-bottom: 10px;
        font-size: 18px;
    }
    .address{
        text-align: center;
    }  

    #social{
        display: none;
    }
.footer{
    background-color:#26292E;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
}

}
@media only screen and (max-width:986px){
    .work_type h3{
        font-size: 20px;
        font-weight: bold;
    }

footer{
         background: red;
         padding: 0px;
    }

}